# Copy this as config.toml and edit.

# Slack signing secret. Requests won't be verified if unset.
[slack]
secret = "FOO"
max_age_seconds = 600

[domain.example]
host = "example.com$"
login_page = "http://example.com"
login_script = "document.getElementById..."

[domain.another]
host = "^another.example.com$"
